module.exports = {
    timeMDHM: function(str) {
        if (str) {
            return str.substring(5, 16) + " ";
        }
        return '00-00 00:00 '
    },
    timeHM: function(str) {
        if (str) {
            return str.substring(10, 16);
        }
        return ' 00:00'

    },
    timeYMDHM: function(str) {
        if (str) {
            return str.substring(0, 16);
        }
        return '0000-00-00 00:00'

    },
    trainingStatus: function(str) {
        switch (str) {
            case '0':
                return '待完成';
            case '1':
                return '已取消';
            case '2':
                return '已完成';
        }
    },
    // 状态  0 - 待完成 1 - 已取消 2 - 专家确认 3 - 已完成  4 - 待评价
    financeStatus: function(str) {
        switch (str) {
            case '0':
                return '待完成';
            case '1':
                return '已取消';
            case '2':
                return '专家确认';
            case '31':
                return '待评价';
            case '32':
                return '已完成';
        }
    },
    finance2Status: function(str) {
        switch (str) {
            case '0':
                return '待完成';
            case '1':
                return '已取消';
            case '2':
                return '预约人确认';
            case '31':
                return '待评价';
            case '32':
                return '已完成';
        }
    },
    // （1-代理记账 2-财税管理 3-专家问诊）',
    financeType: function(str) {
        switch (str) {
            case '1':
                return '代理记账';
            case '2':
                return '财税管理';
            case '3':
                return '专家问诊';
        }
    },
    // （1-代理记账 2-财税管理 3-专家问诊）',
    appealType: function (str) {
        switch (str) {
            case '1':
                return '防疫物资';
            case '2':
                return '法律服务';
            case '3':
                return '融资需求';
            case '4':
                return '其它';
        }
    },
    addressIntercept: function(str) {
        if (str) {
            var index = str.indexOf("武陵区");
            if (index != -1) {
                return str.slice(index);
            }
        }
        return str;
    }
}