package com.huacainfo.ace.hqgj.dao;

import java.util.List;
import org.apache.ibatis.annotations.Param;
import com.huacainfo.ace.hqgj.model.$!{bean.name};
import com.huacainfo.ace.hqgj.vo.$!{bean.name}QVo;
import com.huacainfo.ace.hqgj.vo.$!{bean.name}Vo;

public interface $!{bean.name}Dao {

    int deleteByPrimaryKey(String id);

    int insert($!{bean.name} o);

    int updateByPrimaryKey($!{bean.name} o);

    $!{bean.name}Vo selectVoByPrimaryKey(String id);

    List<$!{bean.name}Vo> findList(@Param("condition") $!{bean.name}QVo condition,
        @Param("start") int start,
        @Param("limit") int limit,
        @Param("orderBy") String orderBy);

    int findCount(@Param("condition") $!{bean.name}QVo condition);

    int isExist($!{bean.name} o);

    int deleteByIds(String[] ids);
}
