package com.huacainfo.ace.hqgj.service.impl;

import com.huacainfo.ace.common.dto.PageDTO;
import java.util.Date;
import java.util.List;
import com.huacainfo.ace.common.tools.GUIDUtil;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
import com.huacainfo.ace.common.log.annotation.Log;
import org.springframework.transaction.annotation.Transactional;
import org.springframework.stereotype.Service;
import com.huacainfo.ace.common.vo.UserProp;
import com.huacainfo.ace.common.dto.ResponseDTO;
import com.huacainfo.ace.common.dto.NewPageDTO;
import com.huacainfo.ace.common.tools.CommonUtils;
import com.huacainfo.ace.hqgj.dao.$!{bean.name}Dao;
import com.huacainfo.ace.hqgj.model.$!{bean.name};
import com.huacainfo.ace.hqgj.service.$!{bean.name}Service;
import com.huacainfo.ace.hqgj.vo.$!{bean.name}Vo;
import com.huacainfo.ace.hqgj.vo.$!{bean.name}QVo;
import javax.annotation.Resource;
@Service
/**
* @author: $!{annotation.authorName}
* @version: $!{annotation.version}
* @Description:  TODO($!{bean.tableChineseName})
*/
public class $!{bean.name}ServiceImpl implements $!{bean.name}Service {
Logger logger = LoggerFactory.getLogger(this.getClass());
@Resource
private $!{bean.name}Dao $!{bean.lowerName}Dao;

/**
*
* @Title:find!{bean.name}List
* @Description:  TODO($!{bean.tableChineseName}分页查询)
* @param:        @param condition
* @param:        @param pageNum     页码
* @param:        @param pageSize    页数
* @param:        @param orderBy
* @param:        @throws Exception
* @return:       NewPageDTO
<$!{bean.name}Vo>
    * @throws
    * @author: $!{annotation.authorName}
    * @version: $!{annotation.version}
    */
    @Override
    public PageDTO
    <$!{bean.name}Vo> page($!{bean.name}QVo condition, int start, int limit, String orderBy) throws Exception {
            PageDTO<$!{bean.name}Vo> rst = new PageDTO<>();
                List<$!{bean.name}Vo> list = this.$!{bean.lowerName}Dao.findList(condition, start, limit, orderBy);
                    rst.setRows(list);
                    if (start <= 1) {
                    int allRows = this.$!{bean.lowerName}Dao.findCount(condition);
                    rst.setTotal(allRows);
                    }
                    return rst;

            }

            /**
            *
            * @Title:create
            * @Description: TODO(创建$!{bean.tableChineseName})
            * @param: @param o
            * @param: @throws Exception
            * @return: ResponseDTO
            * @throws
            * @author: $!{annotation.authorName}
            * @version: $!{annotation.version}
            */
            @Override
            @Transactional
            @Log(operationObj = "$!{bean.tableChineseName}", operationType = "创建", detail = "创建$!{bean.tableChineseName}")
            public ResponseDTO create($!{bean.name} o, UserProp userProp) throws Exception {
            $!{bean.validate}
            int temp = this.$!{bean.lowerName}Dao.isExist(o);
            if (temp > 0) {
            return new ResponseDTO(ResultCode.FAIL, "$!{bean.tableChineseName}名称重复！");
            }
            o.setId(GUIDUtil.getGUID());
            o.setCreateDate(new Date());
            o.setStatus("1");
            o.setCreateUserName(userProp.getName());
            o.setCreateUserId(userProp.getUserId());
            o.setModifyDate(new Date());
            this.$!{bean.lowerName}Dao.insert(o);
            return new ResponseDTO(ResultCode.SUCCESS, "成功！");
            }

            /**
            *
            * @Title:update
            * @Description: TODO(更新$!{bean.tableChineseName})
            * @param: @param o
            * @param: @throws Exception
            * @return: ResponseDTO
            * @throws
            * @author: $!{annotation.authorName}
            * @version: $!{annotation.version}
            */
            @Override
            @Transactional
            @Log(operationObj = "$!{bean.tableChineseName}", operationType = "变更", detail = "变更$!{bean.tableChineseName}")
            public ResponseDTO update($!{bean.name} o, UserProp userProp) throws Exception {
            $!{bean.validate}
            o.setModifyDate(new Date());
            o.setModifyUserName(userProp.getName());
            o.setModifyUserId(userProp.getUserId());
            this.$!{bean.lowerName}Dao.updateByPrimaryKey(o);
            return new ResponseDTO(ResultCode.SUCCESS, "成功！");
            }

            /**
            *
            * @Title:getById
            * @Description: TODO(获取$!{bean.tableChineseName})
            * @param: @param id
            * @param: @throws Exception
            * @return: ResponseDTO<$!{bean.name}>
            * @throws
            * @author: $!{annotation.authorName}
            * @version: $!{annotation.version}
            */
            @Override
            @Transactional
            public ResponseDTO<$!{bean.name}Vo> getById(String id) throws Exception {
                ResponseDTO<$!{bean.name}Vo> rst = new ResponseDTO<>();
                    rst.setData(this.$!{bean.lowerName}Dao.selectVoByPrimaryKey(id));
                    return rst;
                    }

                    /**
                    *
                    * @Title:deleteById
                    * @Description: TODO(删除$!{bean.tableChineseName})
                    * @param: @param id
                    * @param: @throws Exception
                    * @return: ResponseDTO
                    * @throws
                    * @author: $!{annotation.authorName}
                    * @version: $!{annotation.version}
                    */
                    @Override
                    @Log(operationObj = "$!{bean.tableChineseName}", operationType = "删除", detail = "删除$!{bean.tableChineseName}")
                    public ResponseDTO deleteById(String id) throws Exception {
                    this.$!{bean.lowerName}Dao.deleteByPrimaryKey(id);
                    return new ResponseDTO(ResultCode.SUCCESS, "成功！");
                    }


                    /**
                    *
                    * @Title:deleteByIds
                    * @Description: TODO(批量删除$!{bean.tableChineseName})
                    * @param: @param ids
                    * @param: @throws Exception
                    * @return: ResponseDTO
                    * @throws
                    * @author: $!{annotation.authorName}
                    * @version: $!{annotation.version}
                    */
                    @Override
                    @Transactional
                    @Log(operationObj = "$!{bean.tableChineseName}", operationType = "批量删除", detail = "批量删除$!{bean.tableChineseName}")
                    public ResponseDTO deleteByIds(String[] ids) throws Exception {
                    this.$!{bean.lowerName}Dao.deleteByIds(ids);
                    return new ResponseDTO(ResultCode.SUCCESS, "成功！");
                    }



                    }
